@import "properties.less";

.scroll-bar
{
  -fx-skin: "hs.mediasystem.util.javafx.control.MinimalScrollBarSkin";
  -fx-background-color: transparent;
}

.scroll-bar .track
{
  -fx-stroke-width: 1;
  -fx-stroke: -c-dark-glass;
  -fx-arc-width: 16px;
  -fx-arc-height: 16px;
  -fx-fill: transparent;
}

.scroll-bar .thumb
{
  -fx-fill: -c-glass;
  -fx-arc-width: 16px;
  -fx-arc-height: 16px;
}

.list-view,
.scroll-pane,
.scroll-pane > .viewport
{
  -fx-background-color: transparent;
}

.dialog {
  -fx-spacing: 5;
  -fx-padding: 20;

  -c-border: @theme-primary;
  -c-bg: fade(@theme-primary, 20%);

  -c-b1: derive(-c-border, 25%);
  -c-b2: derive(-c-border, -30%);
  -c-b3: derive(-c-border, -50%);
  -c-b4: derive(-c-border, -70%);
  -c-b5: derive(-c-border, -80%);

  -c-bg1: derive(-c-bg, 5%);
  -c-bg2: derive(-c-bg, -100%);
  -c-bg3: derive(-c-bg, -160%);

  -fx-border-color:
    linear-gradient(to right, -c-b1, -c-b2 2%, -c-b3)
    linear-gradient(to bottom, -c-b3, -c-b3 25%, -c-b2 50%, -c-b4 98%, -c-b5)
    linear-gradient(to right, -c-b3, -c-b4 98%, -c-b5)
    linear-gradient(to bottom, -c-b1, -c-b3 2%, -c-b2 50%, -c-b3 98%, -c-b3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5);

  -fx-border-radius: 25, 25, 24;
  -fx-border-width: 3.5, 1, 1;
  -fx-border-insets: 0, 0, 3;

  -fx-background-color: linear-gradient(from 25% 0% to 75% 100%, -c-bg3, -c-bg1 28%, -c-bg2 68%, -c-bg3), linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.0));
  -fx-background-radius: 23, 23;
  -fx-background-insets: 1, 1;
}

.media-look,
.dialog {
  @control-focus: rgb(255, 255, 0);
  @control-border: darken(@theme-primary, 50%, relative);
  @control-bg: fade(darken(@theme-primary, 75%, relative), 40%);

  .button,
  .toggle-button {
    -fx-background-color: @control-bg;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-text-fill: @text-primary-highlight;

    -fx-border-color: transparent, @control-border;
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 5.4;
    -fx-border-radius: 5.4, 0;
  }

  .check-box {
    -fx-text-fill: @text-primary-highlight;
  }

  .check-box > .box {
    -fx-background-color: @control-bg;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-border-color: transparent, @control-border;
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 5.4;
    -fx-border-radius: 5.4, 0;
  }

  .check-box:selected > .box > .mark,
  .check-box:indeterminate > .box > .mark {
    -fx-background-color: @text-primary-highlight;
  }

  .check-box:indeterminate > .box {
    -fx-padding: 0em 0em 0.083333em 0.083333em;
  }

  .spinner {
    -fx-background-color: @control-bg;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-text-fill: @text-primary-highlight;

    -fx-border-color: transparent, @control-border;
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 5.4;
    -fx-border-radius: 5.4, 0;

    .text-field, .increment-arrow-button, .decrement-arrow-button {
      -fx-background-color: @control-bg;
      -fx-text-fill: @text-primary-highlight;
    }

    .increment-arrow, .decrement-arrow {
      -fx-background-color: @text-primary-highlight;
    }
  }

  .spinner.focused,
  .check-box.focused > .box,
  .combo-box-base.focused,
  .button.focused,
  .toggle-button.focused,
  .list-view.focused:external-focus,  /* without mouse focus */
  .list-view:focused:external-focus   /* with mouse focus */
  {
    -fx-border-color: @control-focus, @control-border;
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 5.4;
    -fx-border-radius: 5.4, 0;
  }

  .slider .track
  {
    -fx-background-color: @control-bg;
    -fx-border-color: @control-border;
    -fx-border-width: 2;
    -fx-border-insets: -2;
    -fx-border-radius: 5.4;
  }

  .slider .axis {
    -fx-tick-label-fill: @text-primary;
    -fx-fill: @control-border;
  }

  .slider.focused *.thumb,
  .slider:focused *.thumb
  {
    -fx-background-color:
          @control-focus,
          derive(-fx-color,-36%),
          derive(-fx-color,73%),
          linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));
    -fx-background-radius: 17.4, 14, 13, 12;
    -fx-background-insets: -3.4, 0, 1, 2;
  }

  /*
  .slider.focused:external-focus,
  .slider:focused:external-focus
  {
    -fx-border-color: @control-focus, transparent;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 5.4;
    -fx-border-radius: 5.4, 0;
  }

  .slider.focused:internal-focus *.thumb,
  .slider:focused:internal-focus *.thumb
  {
    -fx-background-color:
          @control-focus,
          derive(-fx-color,-36%),
          derive(-fx-color,73%),
          linear-gradient(to bottom, derive(-fx-color,-19%),derive(-fx-color,61%));
    -fx-background-radius: 17.4, 14, 13, 12;
    -fx-background-insets: -3.4, 0, 1, 2;
  }
   */
  .list-view:internal-focus .list-cell:focused,
  .combo-box-popup .list-view .list-cell:filled:selected
  {
    -fx-background-color: @control-focus, -fx-cell-ifocus-color !important;
    -fx-background-insets: 0, 1 !important;
  }

  .progress-bar {
    .bar {
      -fx-padding: 3px;
      -fx-background-insets: 1;
      -fx-border-color: transparent;
      -fx-border-width: 1;
      -fx-border-insets: 0;
      -fx-background-radius: 0;
    }

    .track {
      -fx-padding: 2px;
      -fx-background-insets: 0;
      -fx-border-color: darken(@theme-accent, 75%, relative);
      -fx-border-width: 1;
      -fx-border-insets: 0;
      -fx-background-color: transparent;
    }
  }
}

.tab-pane {
  @control-border: darken(@theme-primary, 50%, relative);
  @control-bg: fade(darken(@theme-primary, 75%, relative), 40%);

  // kill focus-indicator border
  & > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
  }

  .tab-header-area .tab-header-background {
     -fx-background-color: transparent;
  }

  .tab-content-area {
    -fx-border-color: @control-border;
    -fx-border-width: 1 1 1 1;
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10;
  }

  .tab {
    -fx-border-color: derive(@control-border, -66%);
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5 5 0 0;
    -fx-background-color: derive(@control-bg, -66%);

    .tab-label {
      -fx-text-fill: @text-primary;
    }
  }

  .tab:selected {
    -fx-border-color: @control-border;
    -fx-background-color: @control-bg;

    .tab-label {
      -fx-text-fill: @text-primary-highlight;
    }
  }
}
