@import "${root}/hs/mediasystem/runner/properties.less";

.option-menu-dialog {
  .slider-container {
    .slider {
      -fx-min-width: 25em;
    }

    .slider-value {
      -fx-min-width: 10em;
    }

    -fx-spacing: 10px;
  }

  .spinner {
    -fx-min-width: 25em;
  }

  -fx-hgap: 10px;

  .label.section {
    -fx-padding: 10 0 0 0;
    .black;
    -fx-font-size: 12;
    .text-fill-accent;
  }
}
