@theme-primary: rgb(173, 216, 230);

@tinted-glass: fade(@theme-primary, 60%);

@text-primary: lighten(@theme-primary, 5%, relative);



.text-style-base {
  -fx-font-family: "Segoe UI Semibold";
  -fx-font-size: 14;
  -fx-font-weight: normal;
}

.bold {
  -fx-font-family: "Segoe UI Bold";
  -fx-font-weight: bold;
}

.black {
  -fx-font-family: "Segoe UI Black";
  -fx-font-weight: bold;
}