 
  .indicator-arc-shape,
  .indicator-circle-shape
  {
    -fx-fill: transparent;
    -fx-stroke: rgba(125, 255, 125, 0.5);
    //-fx-stroke-line-cap: butt; 
  }
  
  .indicator-arc-shape
  {
    -fx-stroke-width: 5;
  }