  .indicator-pane-background,
  .indicator-percentage,
  .indicator-arc
  {      
    -fx-min-width: 50;
    -fx-min-height: 50;
  }
  
  .indicator-pane-background
  {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
  }
  
  .indicator-percentage
  {
    -fx-text-fill: rgba(125, 255, 125, 0.8);
    -fx-alignment: center;
    -fx-font-size: 16;
  }
  
  .indicator-arc-shape,
  .indicator-circle-shape
  {
    -fx-fill: transparent;
    -fx-stroke: rgba(125, 255, 125, 0.5);
    -fx-stroke-line-cap: butt; 
  }
  
  .indicator-arc-shape
  {
    -fx-stroke-width: 5;
  }